@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="@( ViewBag.Active == "nova_ucebnice" ? "nav-item active" : "")"> <a class="nav-link" asp-area="" asp-controller="Home" asp-action="FormularUcebnice">Nová učebnice</a></li>

        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/logout" title="Manage">Odhlásit se</a>

        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Přihlášení</a>
        </li>
    }
</ul>
