@using System
@using System.IO;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<head>
    <script src="https://creativajs.altervista.org/popup/0.2/creativa-popup.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .right {
            position: absolute;
            right: 20px;
        }
    </style>

</head>
<div>&nbsp;</div>
    <div class="container">
        <div class="row">

            @foreach (List<string> metadata in ViewBag.Metadata)
            {

                string nazev = metadata[0];
                string autor = metadata[1];
                string datum = metadata[2];
                string obrazek = nazev + metadata[3];
                string aktualniAdresar = Directory.GetCurrentDirectory();

                <div class="col-sm">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="~/obrazky/@obrazek" width="250" height="250" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/home/ZobrazeniMetadat?ucebnice=@nazev">@nazev</a></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Autor:</b> @autor</li>
                            <li class="list-group-item"><b>Datum vytvoření:</b> @datum</li>
                        </ul>
                        @if (SignInManager.IsSignedIn(User))
                        {
                    <div class="card-body">
                        <a href="home/UpravaMetadat?ucebnice=@nazev" class="card-link">Upravit učebnici</a>
                        <a class="alert-danger right" asp-area="" asp-controller="Home" asp-action="SmazatUcebnici" asp-route-ucebnice="@nazev" onclick="if (confirm('Opravdu si přejete smazat @nazev učebnici?')){return true;}else{event.stopPropagation(); event.preventDefault();};">Smazat</a>

                    </div>
                            <script>
                                // The function below will start the confirmation dialog
                                function confirmAction() {
                                    let confirmAction = confirm("Opravdu si přejete smazat tuhle učebnici?");
                                    if (confirmAction) {
                                        window.location.href = "/home/SmazatUcebnici?ucebnice=@nazev";
                                    } else {
                                        alert("Akce zrušena");
                                    }
                                }
                            </script>
                        }
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>

            }
        </div>

    </div>
