@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <style>

        .container {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            background-color: #cccaca;
        }
        input[type=text] {
            width: 100%;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <h3 class="text-center"> Přidat učebnici </h3>
        <div>&nbsp;</div>

        <main role="main" class="pb-3">
            <form method="post" name="myForm" enctype="multipart/form-data" asp-controller="Home" asp-action="NovaUcebnice">
                <table>
                    <tr>
                        <td>* Název učebnice: </td>
                        <td><input type="text" id="nazev" name="nazev" /></td>
                    </tr>
                    <tr>
                        <td>* Autor: </td>
                        <td><input type="text" id="autor" name="autor" /></td>
                    </tr>
                    <tr>
                        <td>Datum vzniku učebnice:</td>
                        <td>
                            <div class="input-group date" data-provide="datepicker">
                                <input maxlength="4" size="4" type="text" class="form-control" name="datum" id="datum">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>* Výběr obrázku:</td>
                        <td>
                            <input type="file" id="files" name="files" accept=".png, .jpg, .jpeg" />
                        </td>
                    </tr>
                </table>
                <p id="demo" style="color: red"></p>
                <button type="submit" class="btn btn-primary">Přidat</button>
            </form>
            <div style=color:red>
                @ViewBag.Validace
            </div>
        </main>
    </div>

</body>
</html>
