<div class="container">
<main role="main" class="pb-3">
    <form method="post" name="myForm" enctype="multipart/form-data" asp-controller="Home" asp-action="NovaUcebnice">
        <table>
            <tr>
                <td>* Výběr obrázku:</td>
                <td>
                    <input type="file" id="files" name="files" accept=".png, .jpg, .jpeg" />
                </td>
            </tr>
        </table>
        <p id="demo" style="color: red"></p>
        <button type="submit" class="btn btn-primary">Přidat</button>
    </form>
    <div style=color:red>
        @ViewBag.Validace
    </div>
</main>
    </div>
